<h1 class="mx-3">New Game</h1>

<h3 class="mx-3"><%= @letters.join(" ") %></h3>
<br>
<form action="/score" data-turbo="false" class="d-flex justify-content-center mx-3" method="post">
  <input type="text" name="word" class="form-control">
  <input type="submit" value="Word!" class="btn btn-primary">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
</form>
